{% extends "mypages/sitebase.html" %}
{% load static %}

{% block title %}
List of my favourite games/series
{% endblock %}


{% block navtop %}
<p>-----</p>
<a href='http://127.0.0.1:8000/mypages/'>Back to main page</a>
<p>-----</p>
{% endblock %}

{% block content %}
<h1>My Favourite games/series</h1>
<p>-----------------------------</p>
{% for favgames in game_names %}
    <p>{{ favgames.gamename }}, {{ favgames.startyear }}<p>
<p>-----------------------------</p>
{% endfor %}
{% endblock %}
{% block form %}
<form method="POST" class='favegfrm'>
    <style>
        .favegfrm {
            color: white;
        }
    </style>
    {% csrf_token %}
    {{ favgames_form }}
    <input type="submit" value="Submit">
</form>
{% endblock %}
{% block navbot %}
<p>-----</p>
<a href='http://127.0.0.1:8000/mypages/'>Back to main page</a>
<p>-----</p>
{% endblock %}