django
djangorestframework
pipwin
pillow
black
reportlab
black
requests
beautifulsoup4
pandas
pdbpp
prompt_toolkit
rich
matplotlib
folium
geopandas
descartes
shapely
contextily
mapclassify
black[jupyter]
djangorestframework-jsonapi
mpld3