<h1 class="text-4xl ml-5 pb-7 italic">My Favourite Games</h1>

<Favgames @model={{@model}} /> 

<LinkTo @route="addfavgame" class='btn btn-addGame'>
          <h1 class="text-green-500 hover:text-green-700 text-3xl ml-5 font-bold">Add Game</h1>
</LinkTo>