<br>
<article>
    {{#each @model.graphs as |graph|}}
        <div class="flex flex-col" id="favgames">
            <br>
                <Imagehandler
                src={{graph.graphlink}}
                alt={{graph.graphname}}
                />
            <div class="pb-9"></div>
        </div>
    {{/each}}
</article>