<h1 class="text-4xl ml-5 pb-7 italic">My Favourite Games</h1>

{{!-- <Favgames @model={{@model}} />  --}}

<article>
    {{#each @model.favgames as |favgames|}}
        <div class="flex flex-col" id="favgames">
            <br>
            <ul class="ml-4 text-xl border border-gray-900">
                <h3>Game Name: {{favgames.gamename}}</h3>
                <h3>Release year: {{favgames.startyear}}</h3>
            </ul>
            <div class="pb-9"></div>
        </div>
    {{/each}}
</article>
